/**************************
        General
**************************/

html, body {
  margin:0;
  padding:0;

  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;

  
}

html {
  overflow-x: hidden;
}
body, main {
  background-color: var(--color-bg-primary);
  color: var(--color-text-body);
}

main {
  overflow: hidden;
}


.container {
  max-width:1200px;
  margin:0 auto;
  padding:0 2rem;

}
.section {
  padding:1rem;
  z-index: 5;
  position: relative;
}



/**************************
        Typography
**************************/


h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-title);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-weight: 500;

  &.large {
    font-size: 3.815rem;
  }
}

h1 {
  font-size: 2.441rem;
  font-weight: 400;
}
h2 {font-size: 1.953rem;}
h3 {font-size: 1.563rem;}
h4 {
  font-size: 1.25rem; 
  text-transform: uppercase;
  color: var(--color-text-subtitle);
}

.sub-title {
  font-size: 1rem; 
  text-transform: uppercase;
  color: var(--color-text-subtitle);
}

p {
  color: var(--color-text-body);
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

a, a:visited {
  color: var(--color-text-link);
}



/**************************
        Buttons
**************************/

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  // margin: 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: var(--color-text-body);
  color: var(--color-btn-primary-text);
  
  border-radius: var(--border-radius-button);
  border: none;


  &.primary {
      color: var(--color-btn-primary-text);
      background-color: var(--color-btn-primary-background);
  
      &:hover {
          background-color: var(--color-btn-primary-bg-hover);
      }
  }

  

  &.secondary {
      background-color: transparent;
      color: var(--color-btn-outline);
      border: 2px solid var(--color-btn-outline);
  
      &:hover {
          background-color: var(--color-btn-outline);
          color: var(--color-bg-secondary);
      }
  }

  &:not(:disabled) {
    cursor: pointer;
  }

}



/**************************
        Layout
**************************/


.grid {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1rem;

  .left {
    grid-column: 1;
  }
  .right {
    grid-column: 2;
  }
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}


.card {
  border-radius: var(--border-radius-card);
  background-color: var(--color-bg-secondary);
  padding: 0.75rem 1.25rem;
  width: 100%;
  box-sizing: border-box;

}

.flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}