/**************************
        General
**************************/

html, body {
  margin:0;
  padding:0;

  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;

  
}

html {
  overflow-x: hidden;
}
body, main {
  background-color: var(--color-bg-primary);
  color: var(--color-text-body);
}

main {
  overflow: hidden;
}


.container {
  max-width:1200px;
  margin:0 auto;
  padding:0 1rem;

}
.section {
  padding:1rem;
  z-index: 5;
  position: relative;
}



/**************************
        Typography
**************************/


h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-title);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-weight: 500;

  &.large {
    font-size: 3.815rem;
  }
}

h1 {
  font-size: 2.441rem;
  font-weight: 400;
}
h2 {font-size: 1.953rem;}
h3 {font-size: 1.563rem;}
h4 {
  font-size: 1.25rem; 
  text-transform: uppercase;
  color: var(--color-text-subtitle);
}

.sub-title {
  font-size: 1rem; 
  text-transform: uppercase;
  color: var(--color-text-subtitle);
}

p {
  color: var(--color-text-body);
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

a, a:visited {
  color: var(--color-text-link);
}



/**************************
        Tag
**************************/
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
  
}


.tag {
  color: var(--color-text-body);
  background-color: var(--color-secondary-light);
  padding: 0.25rem 0.5rem;
  border: 2px dashed transparent;
  border-radius: var(--border-radius-tag); 

  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  font-size: 0.9rem;

  transition: background-color 0.2s ease, color 0.2s ease;

  &.new {
    color: var(--color-primary-medium);
    border-color: var(--color-primary-medium);
    cursor: pointer;
    background-color: transparent;
    
    &:hover {
      background-color: var(--color-btn-primary-bg-hover);
      color: var(--color-btn-primary-text);
    }
  }

  button {
    font-size: 1.1rem;
  }
}


.technology-item-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;

  .technology-item {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-tag);
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;

    &.selected {
      border-color: var(--color-primary-medium);
      background-color: var(--color-primary-medium);
      color: var(--color-btn-primary-text);
    }
  }
}



/**************************
        Layout
**************************/


.grid {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1rem;

  .left {
    grid-column: 1;
    overflow: hidden;
  }
  .right {
    grid-column: 2;
  }
}




.card {
  border-radius: var(--border-radius-card);
  background-color: var(--color-bg-secondary);
  padding: 1.25rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}


@media all and (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    .right {
      grid-column: 1;
    }
  }

  .col-2 {
    grid-template-columns: 1fr;
  }
}