.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
  background-color: var(--color-bg-secondary);
  border-radius: var(--border-radius-card);
  border: 1px solid var(--color-border);

  .modal-header {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid var(--color-border);

    .close {
      font-size: 1.6rem;
    }
  }
  .modal-body {
    padding: 1rem;
    max-height: 400px;
    height: 100%;
    overflow-x: hidden;
  }
  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
    border-top: 1px solid var(--color-border);
  }
}